/* ------------- Clases propias del estilo del Juego --------------- 
   Se forzaron (override) clases con el argumento !important */

@font-face {
  font-family: gameFont;
  src: url('../fonts/PressStart2P.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../image/background.jpg');
  background-size: cover;
}


/* -- Contenedor Principal -- */

.main-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


/* -- Titulo del Juego -- */

.main-titulo {
  font-family: gameFont;
  font-size: 3em;
  color: #DCFF0E;
  width: 100%;
  text-align: left !important;
}


/* -- Titulo del Juego Itermitente -- */

.main-titulo-blink {
  color: #FF4007 !important;
}


/* -- Borde de Tablero al momento de coincidencia y borrado -- */

.blink-border {
  border: 10px solid #DCFF0E !important;
}


/* -- Tablero de Caramelos -- */

.panel-tablero {
  width: 70%;
  border: 10px solid #E87306;
  background: rgba(232, 115, 6, 0.5);
  border-radius: 5px;
  height: 700px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
}


/* -- Panel de Puntuacion, Movimiento, Tiempo y Boton del Juego -- */

.panel-score {
  width: 25%;
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.score,
.moves,
.time {
  text-align: center;
  height: 23%;
  width: 100%;
  border: 10px solid #E87306;
  border-radius: 5px;
  background: rgba(232, 115, 6, 0.5);
}

.buttons {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}


/* -- Titulos del Panel de Puntuacion -- */

.data-titulo,
.data-info {
  font-family: gameFont;
  color: #E8CA06;
}

.data-info {
  font-size: 1.8em;
}


/* -- Titulo de Finalizacion del Juego -- */

.titulo-over {
  font-family: gameFont;
  font-size: 3em;
  width: 100%;
  text-align: center;
  color: #DCFF0E;
}


/* -- Clase para coincidencia y soltado de caramelo -- */

.dragandrop {
  position: relative;
  width: 99.4px;
  height: 95px;
  z-index: 5;
}


/* -- Clase para arrastre de caramelo y verificacion -- */

.candy {
  position: relative;
  width: 99.4px;
  height: 95px;
  z-index: 5;
}


/* -- Clase para el marcado y eliminacion de caramelo -- */

.match-candy {
  background: radial-gradient(circle closest-corner, transparent, transparent, white, transparent, transparent);
}


/* -- Boton de Iniciar/Reiniciar del Juego -- */

.btn-reinicio {
  background: #E8CA06;
  border: 6px solid #FFB206;
  border-radius: 5px;
  font-family: gameFont;
  font-size: 1.2em;
  color: #FF4007;
}

.btn-reinicio:hover {
  color: #fff;
  cursor: pointer;
}

.btn-reinicio:active {
  font-size: 1em;
}


/* -- Columnas del tablero de Juego para organizacion de caramelos --*/

div[class^='col'] {
  width: 14.28%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}